@model Bank.Core.ViewModels.Customers.CustomerIndexViewModel

@{
    ViewData["Title"] = "Customer Information";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Customer Details</h1>
            </div>
        </div>
    </div>
</section>

<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">Customer ID: @Model.CustomerId</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="@Model.Givenname"></label>
                    <input asp-for="@Model.Givenname" class="form-control" disabled />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="@Model.Surname"></label>
                    <input asp-for="@Model.Surname" class="form-control" disabled />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="@Model.Birthday"></label>
                    <input asp-for="@Model.Birthday" class="form-control" disabled />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="@Model.Gender"></label>
                    <input asp-for="@Model.Gender" class="form-control" disabled />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="@Model.NationalId"></label>
                    <input asp-for="@Model.NationalId" class="form-control" disabled />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="@Model.City"></label>
                    <input asp-for="@Model.City" class="form-control" disabled />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="@Model.Zipcode"></label>
                    <input asp-for="@Model.Zipcode" class="form-control" disabled />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="@Model.Streetaddress"></label>
                    <input asp-for="@Model.Streetaddress" class="form-control" disabled />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="@Model.Country"></label>
                    <input asp-for="@Model.Country" class="form-control" disabled />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="@Model.CountryCode"></label>
                    <input asp-for="@Model.CountryCode" class="form-control" disabled />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="@Model.Telephonecountrycode"></label>
                    <input asp-for="@Model.Telephonecountrycode" class="form-control" disabled />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="@Model.Telephonenumber"></label>
                    <input asp-for="@Model.Telephonenumber" class="form-control" disabled />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="@Model.Emailaddress"></label>
                    <input asp-for="@Model.Emailaddress" class="form-control" disabled />
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>