@model Bank.Core.ViewModels.Customers.CustomerSearchListViewModel
@{
    ViewData["Title"] = "Customer Search";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Customer Search</h1>
            </div>
        </div>
    </div>
</section>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Search</h3>
            <form class="card-tools" asp-controller="Customer" , asp-action="Search" method="post">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="q" class="form-control float-right" placeholder="Search" asp-for="PagingViewModel.Q">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body table-responsive p-0">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Customer Id</th>
                        <th>Name</th>
                        <th>Birth Date</th>
                        <th>Address</th>
                        <th>City</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in @Model.Customers)
                    {
                        <tr>
                            <td>@customer.CustomerId</td>
                            <td>@($"{customer.Surname} {customer.Givenname}")</td>
                            <td>@customer.Birthday</td>
                            <td>@customer.Streetaddress</td>
                            <td>@customer.City</td>
                            <td><a asp-controller="Customer" asp-action="CustomerDetails" asp-route-id="@customer.CustomerId" class="btn btn-secondary">View Details</a></td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
                <li>
                    @Model.PagingViewModel.CurrentRowCount-@Model.PagingViewModel.RowCount of @Model.PagingViewModel.MaxRowCount
                </li>
                <li class="page-item @(Model.PagingViewModel.Page == 1 ? "disabled" : "")" style="padding-left:1em">
                    <a asp-controller="Customer" asp-action="Search" asp-route-page="@(Model.PagingViewModel.Page - 1)" asp-route-q="@Model.PagingViewModel.Q">
                        <i class="fas fa-chevron-left fa-2x"></i>
                    </a>
                </li>
                <li class="page-item @(Model.PagingViewModel.Page == Model.PagingViewModel.TotalPages  ? "disabled" : "")" style="padding-left:1em">
                    <a asp-controller="Customer" asp-action="Search" asp-route-page="@(Model.PagingViewModel.Page + 1)" asp-route-q="@Model.PagingViewModel.Q">
                        <i class="fas fa-chevron-right fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>